* {
    margin: 0;
    padding: 0;
}

/*This removes all default margin and padding given by the browser.*/

/*--------------------------------------------------------------------------------------------------SHARED STYLES-----*/

body {
    max-width: 1440px;
    margin: 50px auto;
}

section {
    margin: 70px auto;
}

.inter-font {
    font-family: "Inter", sans-serif;
}

@font-face {
    font-family: 'Miama';
    src: url("../fonts/Miama.otf") format("opentype"),
    url("../fonts/Miama.ttf") format("truetype");
}

.hide {
    display: none;
}

.bg-test {
    background-color: darksalmon;
}

.bg-black-1 {
    background-color: rgb(20, 20, 20);
}

.bg-black-2 {
    background-color: rgb(34, 34, 34);
}

.orange-color {
    color: rgb(230, 83, 60);
}

.font-white-1 {
    color: rgb(255, 255, 255);
}

.font-white-2 {
    color: rgba(255, 255, 255, 0.5);
}

.font-miama {
    font-family: 'Miama', sans-serif;
    font-size: 10.8rem;
    font-weight: 400;
}

.title-1 {
    font-size: 4.8rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.title-2 {
    font-size: 3.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.title-3 {
    font-size: 1.75rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.title-4 {
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.title-5 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.button-1 {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    cursor: pointer;
}

.button-1:hover {
    background-color: transparent;
    border: 1px solid white;
    transition: background-color 50ms ease-in-out;
}

.button-2 {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid white;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    cursor: pointer;
}

.button-2:hover {
    background-color: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
    transition: background-color 50ms ease-in-out;
}

/*-------------------------------------------------------------------------------------------------NAVBAR SECTION-----*/

.navbar {
    /*border: 1px solid #FD6E0A;*/
    /*max-width: 1440px;*/
    /*margin: 50px auto;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    /*border: 1px solid #FD6E0A;*/
    width: 50%;
    font-size: 1.8rem;
    font-weight: 800;
    font-style: italic;
}

.menu {
    /*border: 1px solid #FD6E0A;*/
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    border: 1px solid rgb(34, 34, 34);
    border-radius: 50px;
    display: flex;
    gap: 2.5rem;
    text-decoration: none;
    list-style: none;
}

.nav-item {
    border-radius: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:hover {
    background-color: rgb(230, 83, 60);
    transition: background-color 0.2s ease-in-out;
}

.nav-links a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    margin: 25px;
}

/*-------------------------------------------------------------------------------------------------BANNER SECTION-----*/

.banner {
    /*max-width: 1440px;*/
    /*margin: 50px auto;*/
}

.banner-container {
    height: 750px;
    display: flex;
    justify-content: space-between;
}

.banner-left {
    /*border: 1px solid #FD6E0A;*/
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-title {
    /*border: 1px solid #FD6E0A;*/
    max-width: 35rem;
    line-height: 100px;
    margin-bottom: 50px;
}

.banner-text {
    /*border: 1px solid #FD6E0A;*/
    max-width: 37.5rem;
    margin-bottom: 40px;
}

.banner-buttons {
    display: flex;
    gap: 20px;
}

.banner-right {
    /*border: 1px solid #FD6E0A;*/
    width: 50%;
    background-image: url("../images/Images 2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.banner-sticker-1 {
    width: fit-content;
    height: fit-content;

    position: relative;
    transform: translate(450px, 200px);

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px 20px 20px 20px;
}

.banner-sticker-1 h1 {
    font-size: 40px;
    font-weight: 900;
    /*text-align: left;*/
    color: rgb(255, 255, 255);
}

.banner-sticker-2 {
    width: fit-content;
    height: fit-content;

    position: relative;
    transform: translate(50px, 450px);

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);

    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px 25px 20px 25px;
}

.circle {
    height: 2.5rem;
    width: 2.5rem;
    background: rgb(230, 83, 60);
    border-radius: 50%;
}

.banner-sticker-2 h1 {
    font-size: 24px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
}

/*-------------------------------------------------------------------------------------------------HABITS SECTION-----*/

.habit {
    /*max-width: 1440px;*/
    /*margin: 50px auto;*/
}

.habit-container {
    /*border: 1px solid #FD6E0A;*/
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto 100px auto;
}

.habit-title {
    margin: 0 20% 50px 20%;
    text-align: center;
}

.habit-subtitle {
    margin: 0 20% 50px 20%;
    text-align: center;
}

.habit-items {
    /*border: 1px solid #FD6E0A;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
}

.habit-item {
    /*border: 1px solid #FD6E0A;*/
    max-width: 231px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habit-item img {
    border: 1px solid #FD6E0A;
    /*border: 1px solid rgba(255, 255, 255, 0.1);*/
    border-radius: 100%;
    margin-bottom: 25px;
}

.habit-item h3 {
    text-align: center;
    margin-bottom: 25px;
}

.habit-item p {
    text-align: center;
    /*margin-bottom: 25px;*/
}

/*----------------------------------------------------------------------------------------------------RUN SECTION-----*/

.run {
    /*max-width: 1440px;*/
    /*margin: 50px auto;*/
}

.run-container {
    /*border: 1px solid #FD6E0A;*/
    border-radius: 18px;
    background-color: rgb(34, 34, 34);;
    height: 350px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 100px auto 100px auto;
}

.run-left {
    /*border: 1px solid #FD6E0A;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.run-title {
    /*border: 1px solid #FD6E0A;*/
    width: 80%;
}

.run-subtitle {
    /*border: 1px solid #FD6E0A;*/
    max-width: 37.5rem;
}

.run-buttons {
    display: flex;
    gap: 20px;
}

.run-right {
    /*border: 1px solid #FD6E0A;*/
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.run-image-container {
    width: 80%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /*border: 1px solid #FD6E0A;*/
    border-radius: 20px;
}

.run-image-container img {
    position: relative;
    right: 670px;
    bottom: 200px;
}

/*-------------------------------------------------------------------------------------------CALCULATOR-A SECTION-----*/

.calculatorA {
    /*max-width: 1440px;*/
    /*margin: 50px auto;*/
}

.calculatorA-container {
    /*border: 1px solid #FD6E0A;*/
    width: 45vw;
    margin: 100px auto 50px auto;
}

.calculatorA-title {
    margin-bottom: 20px;
}
